<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chflower.mapper.AdminMapper">

    <select id="selectall" resultType="ADMIN">
        SELECT * FROM ADMIN
    </select>

    <select id="select" resultType="ADMIN">
        SELECT * FROM ADMIN
        WHERE ADMIN_ID=#{admin_id}
    </select>

    <select id="makeid" resultType="Integer">
        SELECT (MAX(ADMIN_ID)+1) as new_id FROM ADMIN
    </select>

    <insert id="insert" parameterType="ADMIN">
        INSERT INTO ADMIN (ADMIN_ID, ADMIN_PWD, ADMIN_NAME, ADMIN_LEVEL)
         VALUES(ADMIN_SEQ.NEXTVAL,#{admin_pwd},#{admin_name},#{admin_level})  --여기는 DTO의 속성 이름이랑 정확히 일치해야함
    </insert>

    <update id="update" parameterType="ADMIN">
        UPDATE ADMIN SET ADMIN_PWD=#{admin_pwd}, ADMIN_NAME=#{admin_name},ADMIN_LEVEL=#{admin_level}
        WHERE ADMIN_ID=#{admin_id}
    </update>

</mapper>