<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chflower.mapper.ChartMapper">

    <select id="select" parameterType="Integer" resultType="chart">
    </select>

    <select id="selectall" resultType="chart">
    </select>

    <select id="subsamounttop10" resultType="chart">
        select rownum, s.subsitem_id, s.subsitem_name, s.cnt as subs_cnt, s.subsitem_price, s.amount as subs_amount
        from (
                 select c.subsitem_id, t.subsitem_name, c.cnt, t.subsitem_price, c.cnt*t.subsitem_price as amount
                 from (
                          SELECT subsitem_id, COUNT(subs_id) AS cnt
                          FROM subsinfo
                          GROUP BY subsitem_id
                      ) c left join subsitem t on c.subsitem_id = t.subsitem_id
                 order by c.cnt desc
             ) s WHERE ROWNUM <![CDATA[<=]]> 10
    </select>

    <select id="itemamounttop10" resultType="chart">
        select rownum, s.item_id, s.item_name, s.cnt as item_cnt , s.item_price, s.amount as item_amount
        from(
                select i.item_id, t.item_name, i.cnt, t.item_price, i.cnt*t.item_price as amount
                from (select item_id, sum(order_cnt) as cnt
                      from orderdetail
                      group by item_id
                     ) i left join item t on i.item_id = t.item_id
                order by amount desc
            ) s WHERE ROWNUM <![CDATA[<=]]> 10
    </select>

    <select id="subsamountworst10" resultType="chart">
        select rownum, s.subsitem_id, s.subsitem_name, s.cnt as subs_cnt, s.subsitem_price, s.amount as subs_amount
        from (
                 select c.subsitem_id, t.subsitem_name, c.cnt, t.subsitem_price, c.cnt*t.subsitem_price as amount
                 from (
                          SELECT subsitem_id, COUNT(subs_id) AS cnt
                          FROM subsinfo
                          GROUP BY subsitem_id
                      ) c left join subsitem t on c.subsitem_id = t.subsitem_id
                 order by c.cnt
             ) s WHERE ROWNUM <![CDATA[<=]]> 10
    </select>

    <select id="itemamountworst10" resultType="chart">
        select rownum, s.item_id, s.item_name, s.cnt as item_cnt , s.item_price, s.amount as item_amount
        from(
                select i.item_id, t.item_name, i.cnt, t.item_price, i.cnt*t.item_price as amount
                from (select item_id, sum(order_cnt) as cnt
                      from orderdetail
                      group by item_id
                     ) i left join item t on i.item_id = t.item_id
                order by amount
            ) s WHERE ROWNUM <![CDATA[<=]]> 10
    </select>

    <select id="substotal" parameterType="chart" resultType="int">
        select sum(subs_pay_amount) as substotal
        from subsinfo
        where to_char(subs_rdate,'yyyy-MM-dd') between to_char(#{date1},'yyyy-MM-dd') and to_char(#{date2},'yyyy-MM-dd')
    </select>

    <select id="itemtotal" parameterType="chart" resultType="int">
        select sum(pay_amount) as itemtotal
        from item_order
        where to_char(order_date,'yyyy-MM-dd') between to_char(#{date1},'yyyy-MM-dd') and to_char(#{date2},'yyyy-MM-dd')
    </select>

    <select id="custcount" parameterType="chart" resultType="int">
        select count(cust_id) as custcount
        from cust
        where to_char(cust_rdate,'yyyy-MM-dd') between to_char(#{date1},'yyyy-MM-dd') and to_char(#{date2},'yyyy-MM-dd')
    </select>

    <select id="delfincount" parameterType="chart" resultType="int">
        select count(del_id) as delfincount
        from delinfo
        where to_char(del_findate,'yyyy-MM-dd') between to_char(#{date1},'yyyy-MM-dd') and to_char(#{date2},'yyyy-MM-dd')
    </select>

    <select id="reviewcount" parameterType="chart" resultType="int">
        select count(review_id) as reviewcount
        from item_review
        where to_char(review_rdata,'yyyy-MM-dd') between to_char(#{date1},'yyyy-MM-dd') and to_char(#{date2},'yyyy-MM-dd')
    </select>

    <select id="reviewscore" parameterType="chart" resultType="double">
        select avg(review_score) as reviewscore
        from item_review
        where to_char(review_rdata,'yyyy-MM-dd') between to_char(#{date1},'yyyy-MM-dd') and to_char(#{date2},'yyyy-MM-dd')
    </select>

</mapper>