<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chflower.mapper.CustchartMapper">

        <select id="getMonthlyTotal" resultType="custchart">
            <![CDATA[
            SELECT COALESCE(s.MONTH, o.MONTH) AS MONTH, COALESCE(s.gender, o.gender) AS gender, (COALESCE(s.total, 0) + COALESCE(o.total, 0)) AS total
            FROM
                (
                    SELECT TO_NUMBER(TO_CHAR(s.subs_rdate, 'MM')) AS MONTH, c.gender, SUM(s.subs_pay_amount) AS total
                    FROM subsinfo s
                    LEFT JOIN cust c ON s.cust_id = c.cust_id
                    WHERE c.gender IS NOT NULL
                    GROUP BY TO_CHAR(s.subs_rdate, 'MM'), c.gender
                ) s
                FULL JOIN
                (
                    SELECT TO_NUMBER(TO_CHAR(o.order_date, 'MM')) AS MONTH, c.gender, SUM(o.pay_amount) AS total
                    FROM item_order o
                    LEFT JOIN cust c ON o.cust_id = c.cust_id
                    WHERE c.gender IS NOT NULL
                    GROUP BY TO_CHAR(o.order_date, 'MM'), c.gender
                ) o
            ON s.MONTH = o.MONTH AND s.gender = o.gender
            ORDER BY 1
            ]]>
    </select>
    <select id="getAgeTotal" resultType="custchart">
        SELECT
            agegroup,
            gender,
            agegrouptotal,
            ROUND(agegroupratio, 2) AS agegroupratio
        FROM (
                 SELECT
                     CASE
                         WHEN c.age BETWEEN 10 AND 19 THEN '10대'
                         WHEN c.age BETWEEN 20 AND 29 THEN '20대'
                         WHEN c.age BETWEEN 30 AND 39 THEN '30대'
                         WHEN c.age BETWEEN 40 AND 49 THEN '40대'
                         ELSE '50대'
                         END AS agegroup,
                     c.gender,
                     SUM(o.pay_amount)+SUM(s.subs_pay_amount) AS agegrouptotal,
                     RATIO_TO_REPORT(SUM(o.pay_amount)+SUM(s.subs_pay_amount)) OVER () AS agegroupratio
                 FROM
                     item_order o
                         JOIN cust c ON c.cust_id = o.cust_id
                         JOIN SUBSINFO s ON c.cust_id = s.cust_id
                 WHERE
                     c.gender IS NOT NULL
                 GROUP BY
                     CASE
                         WHEN c.age BETWEEN 10 AND 19 THEN '10대'
                         WHEN c.age BETWEEN 20 AND 29 THEN '20대'
                         WHEN c.age BETWEEN 30 AND 39 THEN '30대'
                         WHEN c.age BETWEEN 40 AND 49 THEN '40대'
                         ELSE '50대'
                         END, c.gender
                )
                ORDER BY gender,
                        CASE
                WHEN agegroup = '10대' THEN 1
                WHEN agegroup = '20대' THEN 2
                WHEN agegroup = '30대' THEN 3
                WHEN agegroup = '40대' THEN 4
                ELSE 5
                    END
    </select>
    <select id="getGenderTotal" resultType="custchart">
            <![CDATA[
            SELECT COALESCE(s.gender, o.gender) AS gender, (COALESCE(s.gendertotal, 0) + COALESCE(o.gendertotal, 0)) AS gendertotal
            FROM
                (
                    SELECT c.gender, SUM(s.subs_pay_amount) AS gendertotal
                    FROM subsinfo s
                             LEFT JOIN cust c ON s.cust_id = c.cust_id
                    WHERE c.gender IS NOT NULL
                    GROUP BY c.gender
                ) s
                    FULL JOIN
                (
                    SELECT c.gender, SUM(o.pay_amount) AS gendertotal
                    FROM item_order o
                             LEFT JOIN cust c ON o.cust_id = c.cust_id
                    WHERE c.gender IS NOT NULL
                    GROUP BY c.gender
                ) o
                ON s.gender = o.gender
            ORDER BY 1
            ]]>
    </select>


</mapper>